:root{
    background-image: url(./1320139.jpg);
    opacity: 0.99;
}
h1{
display: block;
border-style: groove;
background-color: antiquewhite;
border-radius: 2px;
border-color: black;
width:5cm;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: medium;
}
li{
       display: inline-block;
    width:100px;
    height:50px;
    background-color: rgb(46, 127, 165);
    border-radius: 5px;
    border-width: 0px 2px 2px 0px;
    border-color: grey;
    border-style: solid;
    text-align: center;
    font-size: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 5px;
    box-shadow:2px 1px 2px 2px grey ;
    color: aliceblue;

}
li:active{
    color: purple;
}
#seleccionado{
    box-shadow: 2px 2px 2px 2px grey inset;
}
.textoimagen{
    align-self: left;
    display: inline-block;
    background-color: wheat;
    width: 125px;
    height: 125px;
    position:absolute;
    top: 40%;
    left: 90%;
    
    transform: translate(-50%,-50%);
    font-size: 18px;
    color: red;
    
}
article{
    background-color: azure;
    font-size: 80%;
    display: flex;
    justify-content: center;
    display:inline-block;
    margin-left: 60px;
    margin-right: auto;
    width: 60%;
    height: 10%;
    text-align: center;
    border-style:dotted;
    border-color: darkcyan;
    justify-items: center;
    color: black;
}
.responsive{
width: 50%;
height: 50%;
max-width: 80%;
max-height: 80%;
min-width: 30%;
min-height: 30%;
}
.responsive:hover{
    border-radius: 50%;
  
}
.textoimagen:hover{
    opacity: 0.1;
    
}

@media only screen  and (max-width:700px)and (min-width:400px) {
    .responsive{
        width: 100%;
    }
    body{
        background-color: aquamarine;
    }
    }
.titulomapa{
    display: block;
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(109, 93, 6);
}
.titulomapa:hover:active{
    color:red
}
.mapa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    max-width: 600px;
    max-height: 600px;
    min-width: 500px;
    min-height: 500px;
    
}
